# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

.venv/
__pycache__/
*.pyc
.env
.DS_Store
.ruff_cache/
tmp/
